<div class="container py-5">
  <div class="row justify-content-center w-100">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4">
      <div class="card shadow">
        <div class="card-body p-4">
          <h2 class="card-title text-center mb-4">新規登録</h2>

          <div class="text-start mb-3">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %>
          </div>

          <%= render "shared/error_messages", resource: resource %>

          <%= render "form",
            user_resource: resource,
            resource_name: resource_name,
            form_url: registration_path(resource_name),
            form_method: :post,
            submit_text: "新規登録",
            show_current_password: false %>

        </div>
      </div>
    </div>
  </div>
</div>
