<h1>マイページ</h1>

<div class="card mb-3">
  <div class="card-body">
    <p class="card-title">ユーザー名: <%= @user.name %></p>
    <p class="card-text">メールアドレス: <%= @user.email %></p>
  </div>
</div>

<%= link_to "トップページ", root_path, class: "btn btn-primary"%>
