<h1>SSRecord</h1>

<% if user_signed_in? %>
  <p>ログイン中です</p>
  <%= link_to "マイページ", user_path %><br>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %><br>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
